<p class="sectionTitle">Vacations</p>

<table class="table">
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Origination
            </th>
            <th>
                Transportation
            </th>
            <th>
                Date start
            </th>
            <th>
                Date end
            </th>
            <th>
                Cost
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" id="tableDestination">
                Hawaii, CA - United States
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
            </td>
            <td>
                Sacramento, CA - United States
            </td>
            <td>
                Air - SMF
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $2,050
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </td>
            <td>
                Fresno, CA - United States
            </td>
            <td>
                Air - FAT
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $2,500
            </td>
        </tr>
         <tr>
            <td colspan="6" id="tableDestination">
                Berlin - Germany
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </td>
            <td>
                Sacramento, CA - United States
            </td>
            <td>
                Air - SMF
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $2,050
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </td>
            <td>
                Fresno, CA - United States
            </td>
            <td>
                Air - FAT
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $2,500
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </td>
            <td>
                San Francisco, CA - United States
            </td>
            <td>
                Air - SFO
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $5,000
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-window-maximize" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </td>
            <td>
                Hamburg - Germany
            </td>
            <td>
                Train - HBG
            </td>
            <td>
                1/1/2017
            </td>
            <td>
                2/28/2017
            </td>
            <td>
                $200
            </td>
        </tr>
</table>