<ul class="nav nav-sidebar">
    <li class="active"><a href="#"><span class="badge pull-right">14</span> Vacations <span class="sr-only">(current)</span></a></li>
    <li><a href="#"><span class="badge pull-right">14</span> Tours</a></li>
    <li><a href="#"><span class="badge pull-right">14</span> Activities</a></li>
</ul>

        