<polo-header>Loading header...</polo-header>
<div class="containter">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <polo-leftNav>Loading left navigation...</polo-leftNav>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
             <polo-body>Loading main...</polo-body>
        </div>
    </div>
</div>
<polo-footer>Loading footer...</polo-footer>